:root{
    --cool_orange: #EB6440;
    --cool_yellow: #FECC01;
    --teal: #497174;
    --gray: #D6E4E5;
    --snow: #EFF5F5;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.container{
    display: flex;
    flex-direction: row;
    
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}



figure{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#profile_picture{
    border-radius: 50%;
    border: 4px solid var(--teal);
}

#name_logo{
    padding-left: 40px;
}

.left_container{
    padding-right: 40px;
    width: 350px;
}

#line{
    align-self: center;
    height: 350px;
    width: 5px;
    background-color: var(--teal);
    border-radius: 99px;
    margin: 0 20px;
}

.right_container{
    padding-left: 40px;
    width: 350px;
}


dt{
    font-size: large;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 15px;
}

#social_icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#social_dt{
    padding-bottom: 15px;
}