:root{

    /* https://colorhunt.co/palette/025464e57c23e8aa42f8f1f1 */
    --blue_dark: #0035A9;
    --orange: #F57D18;
    --light_orange: #F5DF18;
    --ligh_pink: #F8F1F1;
    
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: block;
    height: 40px;
    background-color: var(--blue_dark);
    display: flex;
    justify-content: left;
}

.menu{
    display: inline-block;
}

.menu img{
    height: 25px;
    width:25px;
    
}